# VIM files
.*.sw[op]

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# KDE
.directory

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/src/**/private
/src/**/dist
/src/**/build
/src/utils2/target/
/src/datamanager/datamanager-ejb/target/
/src/datamanager/datamanager-web/target/
/src/datamanager/datamanager-ear/target/
/src/datamanager/target/