# VIM files
.*.sw[op]

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# KDE
.directory

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/src/datamanager/nbproject/private/
/src/datamanager/datamanager-war/nbproject/private/
/src/datamanager/datamanager-ejb/nbproject/private/
/src/datamanager/dist/
/src/datamanager/build/
/src/datamanager/datamanager-ejb/dist/
/src/datamanager/datamanager-ejb/build/
/src/datamanager/datamanager-war/build/
/src/datamanager/datamanager-war/dist/
